<div class="container">
    <div class="row">
        <div class="m-3">
            <div class="m-3">
                <h3>Ossza meg velünk véleményét, tapasztaltait!</h3>
            </div>
            <div class=" col-8 offset-2 container__card">
                <form [formGroup]="commentForm">
                    <div class="d-flex justify-content-between">
                    <div class="col-5 m-3">
                        <label for="username" class="form-label">Felhasználónév</label>
                        <input formControlName="username" [(ngModel)]="uObject.username" type="text" class="form-control" id="username" readonly>
                      </div>
                    <div class="col-5 m-3">
                        <label for="date" class="form-label">Dátum</label>
                        <input formControlName="date" type="date" class="form-control" id="date" placeholder="">
                      </div>

                    </div>
                      <div class="m-3">
                        <label for="engine" class="form-label">A választott mozdony erőforrása:</label>
                        <input formControlName="engine" type="text" class="form-control" id="engine" placeholder="" readonly>
                      </div>
                      <div class="m-3">
                        <label for="type" class="form-label">Választott mozdony típusa:</label>
                        <input formControlName="type" type="text" class="form-control" id="type" placeholder="" readonly>
                      </div>
                      <div class="m-3">
                        <label for="name" class="form-label">Választott mozdony neve:</label>
                        <input formControlName="name" type="text" class="form-control" id="name" placeholder="" readonly>
                      </div>
                      <div class="m-3">
                        <label for="usercomment" class="form-label">Szöveg</label>
                        <textarea formControlName="usercomment" class="form-control" id="usercomment" rows="10" placeholder="Itt várjuk véleményét..."></textarea>
                      </div>
                      <div class="m-3 text-center">
                          <button type="submit" href="#" class="btn btn-danger m-3" [disabled]="commentForm.invalid" (click)="saveComment()">Küldés</button>
                          <button type="submit" class="btn btn-warning m-3" (click)="cancelComment()">Mégsem</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
