<div class="container p-3">
    <div class="container-card mt-3 mb-3">
        <h5 class="m-3">A villamos vontatás rövid áttekintése:</h5>
        <p class="m-3">A villamosmozdony, vagy villanymozdony olyan vasúti vontatójármű, amely a külön e célra épített
            helyhez kötött villamoshálózatból nyert (ritkábban a jármű saját akkumulátortelepében tárolt)
            villamosenergiát alakítja át a vontatáshoz szükséges mechanikai munkává. A váltóáramú rendszerek között
            hosszú ideig a háromfázisú vontatás tartotta a vezető szerepet. Ez a vezető szerep egy magyar mérnöknek dr.
            Kandó Kálmánnak a zsenialitását dicsérte. Az olasz Valtellina vasút 1902-ben történő megépítésével
            bizonyította be - a budapesti Ganz gyárban készült mozdonyokkal -, hogy háromfázisú rendszernek a
            nagyvasútnál helye van. Nagy előnye a többi motortípussal szemben, hogy áramvisszanyeréssel való fékezésre a
            legalkalmasabb volt. Az aszinkron motornak még további előnyei is voltak, hogy nagy forgónyomatékkal és a
            többi motortípust felülmúló gazdaságossággal dolgozott. A motor fordulatszáma a terheléstől csaknem
            független, azaz kis és nagy terhet csaknem ugyanolyan sebességgel tudott továbbítani. Ez elsősorban hosszú
            és nagy emelkedésű, nagy teherforgalmat lebonyolító hegyi pályákra tette alkalmassá. Azonban a motorok merev
            karakterisztikája sűrű személyforgalmú vonalakon hátrányos volt, mert az állomási túltartózkodásból eredő
            késéseket nem tudta behozni. A háromfázisú rendszert Európában Olaszország vezette be a legelterjedtebben.
            Az egy és háromfázisú rendszerek előnyeit egyesítette a fázisváltós rendszer. A munkavezeték egypólusú, a 15
            000 voltos egyfázisú áram frekvenciája a normális ipari frekvencia volt, a hajtómotorok viszont alacsony
            frekvenciára és kis feszültségre építhető aszinkron motorok voltak.</p>
    </div>
    <div class="container-card pt-3 pb-3">
        <app-card></app-card>
    </div>
</div>