<div class="container-details">
  <div class="row">
    <div class="col-12">
      <div class="text-center m-3">
        <h3>Modellvásár!</h3>
        <p>A vásárláshoz kérem jelentkezzen be!</p>
      </div>
      <form #buyItemForm="ngForm" (ngSubmit)="saveBuyItem(buyItemForm)">

        <div class="m-3">
          <div class="d-flex justify-content-between">
            <label for="username">Felhasználónév:</label>
            <input type="text" name="username" [(ngModel)]="userObject.username" value="" class="form-control"
              id="username">
          </div>
        </div>
        <hr>

        <div class="m-3">
          <div class="d-flex">
            <label class="" for="type">Típus:</label>
            <span [(ngModel)]="loco.type" name="type" class="ms-3">{{ loco.type }}</span>
          </div>
        </div>
        <hr>

        <div class="m-3">
          <label for="littleModel"> Kis méretű modell: </label>
          <div class="d-flex m-3">
            <span>Mennyiség(db): </span>
            <input (change)="valueChangedLittle($event)" name="littleModel" ngModel required type="number" min="0"
              max="10" value="" class="form-control ms-3" id="littleModel">
          </div>
          <span class="m-3">Ár: {{ priceOfLittleModels }} HUF</span>
        </div>
        <hr>

        <div class="m-3">
          <label for="middleModel"> Közepes méretű modell: </label>
          <div class="d-flex m-3">
            <span>Mennyiség(db): </span>
            <input (change)="valueChangedMid($event)" name="middleModel" ngModel required type="number" min="0" max="10"
              value="" class="form-control ms-3" id="middleModel">
          </div>
          <span class="m-3">Ár: {{ priceOfMiddleModels }} HUF</span>
        </div>
        <hr>

        <div class="m-3">
          <label for="bigModel"> Nagy méretű modell: </label>
          <div class="d-flex m-3">
            <span>Mennyiség(db): </span>
            <input (change)="valueChangedBig($event)" name="bigModel" ngModel required type="number" min="0" max="10"
              value="" class="form-control ms-3" id="bigModel">
          </div>
          <span class="m-3">Ár: {{ priceOfBigModels }} HUF</span>
          <hr>
          <div>
            <p [(ngModel)]="priceSum" name="price" class="sum"><strong>Vásárlás végösszege: {{ priceSum }} HUF</strong>
            </p>
          </div>
        </div>
        <hr>
        <div>
          <button class="btn btn-danger m-3" [disabled]="!buyItemForm.valid">Vásárlás</button>
        </div>

      </form>
    </div>
  </div>
</div>