<div class="container p-3">
    <div class="m-3">
        <h3>Ismerje meg Magyarország vasúthálózatán valaha futott dízel és villamos üzemű mozdonyokat</h3>      
    </div>
    <div class="container-card p-5">
        <div class="row">
            <div class="d-xl-flex justify-content-between">
                <div class="text-photo">
                    <a href="diesel">
                        <img class="img_main m-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Nohab_Badacsonyn%C3%A1l.JPG/200px-Nohab_Badacsonyn%C3%A1l.JPG" alt="M62-es dízelmozony">
                    <h4>dízel üzemű</h4>
                    </a>

                </div>
                <div class="text-photo">
                    <a href="electric">
                        <img class="img_main m-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtNz1bcpuTqmqqSIYq_WZ9l8x9mU8d8kFc1xIA64XmKbpY8eZt6NDk8UHYTg&s" alt=" V63-as villamos mozony">
                    <h4>villamos üzemű</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="container__text">Kattintson a képre vagy a feliratra és tekintse meg ismertetőnek!</p>
    </div>   
</div>
