<div class="container p-3">
    <div class="m-3">
        <h3>Ismerje meg Magyarország vasúthálózatán valaha futott dízel és villamos üzemű mozdonyokat</h3>      
    </div>
    <div class="container__card p-5">
        <div class="row">
            <div class="d-xl-flex justify-content-between">
                <div class="text-photo">
                    <a href="diesel">
                        <img class="img_main m-3" src="https://scontent.fqpj1-1.fna.fbcdn.net/v/t1.18169-9/18835794_1705372389487877_7905362763361291858_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=IK73ctm80zMAX-fpOgA&_nc_ht=scontent.fqpj1-1.fna&oh=00_AT9wd-abBneq7x7-U4mtwp-Wutw9To9VnXxGvVUIqGmHSQ&oe=62B727C4" alt="M62-es dízelmozony">
                    <h4>dízel üzemű</h4>
                    </a>

                </div>
                <div class="text-photo">
                    <a href="electric">
                        <img class="img_main m-3" src="https://scontent.fqpj1-1.fna.fbcdn.net/v/t1.18169-9/406803_278213668901654_897974863_n.jpg?stp=cp0_dst-jpg_e15_q65_s320x320&_nc_cat=111&ccb=1-7&_nc_sid=e007fa&_nc_ohc=e6FiWVQw4NUAX_V5JsU&_nc_ht=scontent.fqpj1-1.fna&oh=00_AT_FTs6pYqqBieoCQ9A6Fm2jbgF43BikA88iA_8RV9Ewlw&oe=62B7A902" alt=" V63-as villamos mozony">
                    <h4>villamos üzemű</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="container__text">Kattintson a képre vagy a feliratra és tekintse meg ismertetőnek!</p>
    </div>   
</div>
