<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="m-3"><strong>Vakvágány!</strong></h1>
            <div class="container__card m-3">
                <div class="m-3">
                    <h3 class="m-3"><strong>404!</strong></h3>
                    <p>Ez az oldal nem található</p>
                </div>
                <p class="m-3">VAGY</p>
                <div class="m-3">
                    <h3 class="m-3"><strong>403!</strong></h3>
                    <p>Nincs jogosultsága az oldal megtekintéséhez!</p>
                </div>
                <button class="btn btn-primary m-3" (click)="backToTheMain()">Vissza a főoldalra</button>
            </div>
        </div>
    </div>
</div>
