<div class="container">
    <div class="row">
        <h1 class="mt-3">Tekintse meg a kiválasztott mozdony részletes ismertetőjét!</h1>
        <div class="container-elements p-3">
            <div class="row d-flex">
                <div class="col-xl-8 col-md-12 container-details mb-3">
                    <img class="img-details" [src]="loco?.url" alt="Mozdony fotó">
                    <div class="m-3 ">
                        <div class="d-flex justify-content-around card-info">
                            <div class="mt-3">
                                <p><strong>Mozdony típusa: </strong>{{ loco?.type }}</p>
                                <p><strong>Mozdony elnevezése: </strong>{{ loco?.name }}</p>
                                <p><strong>Gyártó: </strong>{{ loco?.manufacturer }}</p>
                                <p><strong>Erőátvitel: </strong>{{ loco?.transmission }}</p>
                            </div>
                            <div class="mt-3">
                                <p><strong>Tengelyelrendezés: </strong>{{ loco?.wheelArrangement }}</p>
                                <p><strong>Tengelyek száma: </strong>{{ loco?.numberOfAxels }}</p>
                                <p><strong>Max sebesség: </strong>{{ loco?.topSpeed }}</p>
                                <p><strong>Teljesítmény: </strong>{{ loco?.power }}</p>
                            </div>
                        </div>
                        <div class="card-info mt-3">
                            <p class="m-3"><strong>Rövid ismertető: </strong></p>
                            <p class="m-3">{{ loco?.details }}</p>
                        </div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <button class="btn btn-comment m-3" href="" (click)="navigateToComment(id)">Ossza meg velünk véleményét!</button>
                        </div>
                        <div>
                            <button class="btn btn-primary m-3" (click)="backToLocos()">Vissza</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <app-buy-items [locoId]="id"></app-buy-items>
            </div>    
        </div>
        <div>
            <div class="container-card col-10 offset-1 mb-3 card-info-yellow">    
                <table class="table table-striped caption-top">
                    <caption class="ms-3"><strong>Kommentek listája</strong></caption>
                    <tbody>
                      <tr *ngFor="let comment of comments">
                        <div *ngIf="comment.type === loco?.type" class="d-flex justify-content-around text-white">
                            <td >{{ comment.username }}</td>
                            <td>{{ comment.date }}</td>
                            <td>{{ comment.engine }}</td>
                            <td>{{ comment.type }}</td>
                            <td><button class="btn btn-info" (click)="openModal(comment)">Részletek</button></td>
                        </div>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <app-comment-details
            *ngIf="commentDetailsIsVisible"
            [commentDetails] = "detailedComment"
            (closeModal) = "closeModal()"></app-comment-details>
        </div>
    </div>
    </div>
</div>
